In [2]:
from bs4 import BeautifulSoup
import requests
import pandas as pd

url="https://en.wikipedia.org/wiki/List_of_largest_companies_by_revenue"
page = requests.get(url)
soup = BeautifulSoup(page.text, 'html')
table=soup.find_all('table')[0]
col_name=table.findAll('th',scope='col')
#print(col_name)
world_table_titles=[col_name[cols].text.strip() for cols in range(len(col_name)-2)]
print(world_table_titles)
#table_rows=table.find_all('th',)
#world_titles=soup.find_all('th')
#print(world_titles)
rows=[]
count=1
tabledatarow=soup.findAll('tbody')
#tabledatacol=tabledatarow[0].findAll('tr')
#rowdata=tabledatacol[0].findAll('td')
for row in tabledatarow[0].find_all('tr')[2:]:  # Skip the header row
        cells = row.find_all(['th', 'td'])#table header , table data
        row_data = []

        # Loop through each specific tag within the <tr> tag
        for cell in cells:
            row_data.append(cell.text.strip())

        # Add the row data to the list of rows
        rows.append(row_data)

# Step 5: Convert to DataFrame for better readability
df = pd.DataFrame(rows, columns=world_table_titles)

# Display the DataFrame
print(df)

# Optionally, save to a CSV file
df.to_csv('largest_companies_by_revenue.csv', index=False)

['Rank', 'Name', 'Industry', 'Revenue', 'Profit', 'Employees', 'Headquarters[note 1]', 'State-owned', 'Ref.', 'Revenue per worker']
   Rank                                     Name                Industry  \
0     1                                  Walmart                  Retail
1     2                             Saudi Aramco             Oil and gas
2     3                                   Amazon                  Retail
3     4          State Grid Corporation of China             Electricity
4     5                                    Vitol             Commodities
5     6     China National Petroleum Corporation             Oil and gas
6     7          China Petrochemical Corporation             Oil and gas
7     8                               ExxonMobil             Oil and gas
8     9                                    Apple  Information technology
9    10                                    Shell             Oil and gas
10   11                       UnitedHealth Group              Healthcare
11   12                               CVS Health              Healthcare
12   13                                Trafigura             Commodities
13   14     China State Construction Engineering            Construction
14   15                       Berkshire Hathaway              Financials
15   16                         Volkswagen Group              Automotive
16   17                                   Uniper             Electricity
17   18                                 Alphabet  Information technology
18   19                                 McKesson              Healthcare
19   20                                   Toyota              Automotive
20   21                            TotalEnergies             Oil and gas
21   22                                 Glencore             Commodities
22   23                                       BP             Oil and gas
23   24                                  Chevron             Oil and gas
24   25                                  Cencora              Healthcare
25   26                      Samsung Electronics             Electronics
26   27                                   Costco                  Retail
27   28                                  Foxconn             Electronics
28   29  Industrial and Commercial Bank of China              Financials
29   30                                Microsoft  Information technology
30   31                  China Construction Bank              Financials
31   32                               Stellantis              Automotive
32   33               Agricultural Bank of China              Financials
33   34                        Ping An Insurance              Financials
34   35                          Cardinal Health              Healthcare
35   36                                    Cigna              Healthcare
36   37                       Marathon Petroleum             Oil and gas
37   38                              Phillips 66             Oil and gas
38   39                                 Sinochem               Chemicals
39   40    China Railway Engineering Corporation            Construction
40   41                            Valero Energy             Oil and gas
41   42                                  Gazprom             Oil and gas
42   43                                  Cargill            Conglomerate
43   44  China National Offshore Oil Corporation             Oil and gas
44   45   China Railway Construction Corporation            Construction
45   46                                    Baowu                   Steel
46   47                           Schwarz Gruppe                  Retail
47   48                         Mitsubishi Group            Conglomerate
48   49                       Ford Motor Company              Automotive
49   50                      Mercedes-Benz Group              Automotive

     Revenue    Profit  Employees Headquarters[note 1] State-owned    Ref.  \
0   $611,289   $11,680  2,100,000        United States                 [1]
1   $603,651  $159,069     70,496         Saudi Arabia                 [4]
2   $574,785   $30,425  1,525,000        United States                 [5]
3   $530,009    $8,192    870,287                China                 [6]
4   $505,000   $15,000      1,560          Switzerland              [7][8]
5   $483,019   $21,080  1,087,049                China                 [9]
6   $471,154    $9,657    527,487                China                [10]
7   $413,680   $55,740     63,000        United States                [11]
8   $394,328   $99,803    164,000        United States                [12]
9   $386,201   $20,120     93,000       United Kingdom                [13]
10  $324,162   $20,120    400,000        United States                [14]
11  $322,467    $4,149    259,500        United States                [15]
12  $318,476    $6,994     12,347            Singapore                [16]
13  $305,885    $4,234    382,492                China                [17]
14  $302,089  −$22,819    383,000        United States                [18]
15  $293,685   $15,233    675,805              Germany                [19]
16  $288,309  −$19,961      7,008              Germany                [20]
17  $282,836   $59,972    190,234        United States                [21]
18  $276,711    $3,560     48,000        United States                [22]
19  $274,491   $18,110    375,235                Japan                [23]
20  $263,310   $20,526    101,279               France                [24]
21  $255,984   $17,320     81,284          Switzerland                [25]
22  $248,891   −$2,487     67,600       United Kingdom                [26]
23  $246,252   $35,465     43,846        United States                [27]
24  $238,587    $1,699     41,500        United States                [28]
25  $234,129   $42,398    270,372          South Korea                [29]
26  $226,954    $5,844    304,000        United States                [30]
27  $222,535    $4,751    767,062               Taiwan                [31]
28  $214,766   $53,589    427,587                China                [32]
29  $211,915   $73,307    221,000        United States                [33]
30  $202,753   $48,145    376,682                China                [34]
31  $188,888   $17,669    272,367          Netherlands                [35]
32  $187,061   $38,524    452,258                China                [36]
33  $181,566   $12,454    344,223                China                [37]
34  $181,364     −$933     46,035        United States                [38]
35  $180,516    $6,668     70,231        United States                [39]
36  $180,012   $14,516     17,800        United States                [40]
37  $175,702   $11,024     13,000        United States                [41]
38  $173,834       –$1    220,760                China                [42]
39  $171,669    $2,035    314,792                China                [43]
40  $171,189   $11,528      9,743        United States                [44]
41  $167,832   $17,641    468,000               Russia                [45]
42  $165,000   $17,641    155,000        United States                [46]
43  $164,762   $16,988     81,775                China                [47]
44  $163,037    $1,800    342,098                China                [48]
45  $161,698    $2,493    245,675                China                [49]
46  $159,800   $16,988    575,000              Germany                [50]
47  $159,371    $8,723     79,706                Japan                [51]
48  $158,057   −$1,981    173,000        United States                [52]
49  $157,403   $15,252    168,797              Germany                [53]

   Revenue per worker
0         $291,090.00
1       $8,562,911.37
2         $376,908.20
3         $609,004.85
4     $323,717,948.72
5         $444,339.68
6         $893,204.95
7       $6,566,349.21
8       $2,404,439.02
9       $4,152,698.92
10        $810,405.00
11      $1,242,647.40
12     $25,793,796.06
13        $799,716.07
14        $788,744.13
15        $434,570.62
16     $41,139,982.88
17      $1,486,779.44
18      $5,764,812.50
19        $731,517.58
20      $2,599,847.94
21      $3,149,254.47
22      $3,681,819.53
23      $5,616,293.39
24      $5,749,084.34
25        $865,951.36
26        $746,559.21
27        $290,113.45
28        $502,274.39
29        $897,149.32
30        $538,260.39
31        $693,505.45
32        $413,615.68
33        $527,466.21
34      $3,939,698.06
35      $2,570,317.95
36     $10,113,033.71
37     $13,515,538.46
38        $787,434.32
39        $545,341.05
40     $17,570,460.84
41        $358,615.38
42      $1,064,516.13
43      $2,014,821.16
44        $476,579.81
45        $658,178.49
46        $277,913.04
47      $1,999,485.61
48        $913,624.28
49        $932,498.80